body{
   background-image:url(PASSAT.jfif);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: scroll;
}
#p1{
    background: lightblue url(PASSAT.jfif) no-repeat right scroll;
    height: 100px
}
#p2{
    width: 1200px;
    height:300px;
    border: 5px solid black;
    background-image:url(PASSAT.jfif);
    background-repeat: no-repeat;
    background-position: center top;
}
#p3{
    width:300px;
    height: 300px;
    border: 5px solid black;
    background-attachment: fixed;
}





